APP_NAME="Sutoorii Tickets"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://tickets.sutoorii.com
APP_TIMEZONE=America/Sao_Paulo

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

SESSION_DRIVER=database
QUEUE_CONNECTION=database
CACHE_STORE=database

MAIL_MAILER=smtp
MAIL_HOST=mail.sutoorii.com
MAIL_PORT=465
MAIL_USERNAME=tickets@sutoorii.com
MAIL_PASSWORD=
MAIL_ENCRYPTION=ssl
MAIL_FROM_ADDRESS=tickets@sutoorii.com
MAIL_FROM_NAME="Sutoorii Tickets"

IMAP_HOST=mail.sutoorii.com
IMAP_PORT=993
IMAP_ENCRYPTION=ssl
IMAP_USERNAME=tickets@sutoorii.com
IMAP_PASSWORD=
